name: Image build
on:
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

env:
  COSA_SUPERMIN_MEMORY: 4096

jobs:
  build:
    env:
      TAGS_KEEP: 6
    runs-on: builder-${{ github.event.repository.name }}
    container:
      image: quay.io/coreos-assembler/coreos-assembler:latest@sha256:a82536ac300307c5ef6507b3f41501c68fe23ac28a923b45a75c3d7698309a03
    permissions:
      contents: write
    steps:
    - name: Prepare tools
      run: |
        set -e
        cd $HOME
        echo -e "$INTERNAL_CA_CERT" > ca.crt

        TARGETARCH=$(arch)
        TARGETARCH=${TARGETARCH/x86_64/amd64} && TARGETARCH=${TARGETARCH/aarch64/arm64}

        VERSION=$(curl -s https://api.github.com/repos/rclone/rclone/releases/latest | grep tag_name  | cut -d '"' -f 4)
        curl -fsSL -o rclone.zip https://github.com/rclone/rclone/releases/download/${VERSION}/rclone-${VERSION}-linux-${TARGETARCH}.zip
        unzip -j rclone.zip "*/rclone" -d .
        rm rclone.zip

    - name: Checkout
      run: |
        cd $HOME
        git clone --depth=1 --shallow-submodules --recurse-submodules ${{ github.server_url }}/${{ github.repository }}.git repo

        cd repo/fedora-coreos-config
        cp -r ../overlay/. .
        git apply ../*.patch

        mkdir -p overlay.d/51custom/etc/pki/ca-trust/source/anchors
        echo -e "$INTERNAL_CA_CERT" > overlay.d/51custom/etc/pki/ca-trust/source/anchors/ca-cert.pem

        echo "BUILD_TAG=$(date -u +'%Y.%m%d.%H%M%S')" | sudo tee -a "$GITHUB_ENV"

    # Perl is blocked by upstream. Build keepalived without perl dependency.
    - name: Build keepalived package
      run: |
        sudo dnf install -y --setopt=install_weak_deps=False \
          rpmdevtools \
          dnf-plugins-core \
          libnftnl-devel \
          unzip

        mkdir -p $HOME/rpmbuild
        cd $HOME/rpmbuild
        source /etc/os-release

        git clone --depth 1 -b f$VERSION_ID \
          https://src.fedoraproject.org/rpms/keepalived.git SOURCES/
        cd SOURCES
        spectool -gR keepalived.spec
        sudo dnf builddep -y keepalived.spec
        rpmbuild -bb keepalived.spec \
          --without snmp \
          --with nftables \
          --without debug

    # COSA will remove anything existing in the build path. Run in dedicated $HOME/workspace path.
    - name: Run init
      run: |
        mkdir -p $HOME/workspace
        cd $HOME/workspace

        cosa init --force $HOME/repo/fedora-coreos-config
        cp -r $HOME/rpmbuild/RPMS/$(arch)/. overrides/rpm/

    - name: Run build
      run: |
        cd $HOME/workspace
        cosa build --version=$BUILD_TAG

    - name: Run buildextend-live
      run: |
        cd $HOME/workspace
        cosa buildextend-live

    - name: Push image
      run: |
        cd $HOME
        ./rclone --ca-cert=$HOME/ca.crt copy -v workspace/builds/latest/$(arch) :s3:boot/ \
          --s3-env-auth --include "fedora-*-live-*"

    # TODO: support multiple archs
    - name: Create tag
      run: |
        cd $HOME/repo
        git config --global user.email "${{ github.actor }}@users.noreply.github.com"
        git config --global user.name "${{ github.actor }}"
        git tag -a $BUILD_TAG -m "Build $BUILD_TAG"
        git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}
        git push origin $BUILD_TAG

    # TODO: support multiple archs
    - name: Remove old images
      run: |
        cd $HOME
        tags=$(./rclone --ca-cert=$HOME/ca.crt lsjson -v :s3:boot/ --s3-env-auth --include "fedora-*-live-rootfs*" \
          | jq -r '[.[] | select(.Name)] | sort_by(.ModTime) | .[].Name' | sed -r 's/(fedora-.*-live)-.*$/\1/' | head -n -$TAGS_KEEP)
        for tag in $tags; do
          ./rclone --ca-cert=$HOME/ca.crt delete -v :s3:boot/ --s3-env-auth --include "$tag-*"
        done