name: Image build
on:
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

env:
  COSA_SUPERMIN_MEMORY: 4096

jobs:
  build:
    env:
      TAGS_KEEP: 4
    runs-on: builder-${{ github.event.repository.name }}
    container:
      image: quay.io/coreos-assembler/coreos-assembler:latest@sha256:2cdd9cad128bdb55edb0878904ae4bd808a0722dc4098b10aceee7e59b956368
    permissions:
      contents: write
    steps:
    - name: Prepare tools
      run: |
        set -e
        cd $HOME
        TARGETARCH=$(arch)
        TARGETARCH=${TARGETARCH/x86_64/amd64} && TARGETARCH=${TARGETARCH/aarch64/arm64}

        curl -fsSL -O https://dl.min.io/client/mc/release/linux-$TARGETARCH/mc
        chmod +x mc
        mkdir -p .mc/certs/CAs
        echo -e "$INTERNAL_CA_CERT" > .mc/certs/CAs/ca.crt

    # Upstream submodule becomes the root of the build. Contents of base repo are copied into the submodule path after checkout.
    - name: Prepare repo
      run: |
        cd $HOME
        git clone --depth=1 --shallow-submodules --recurse-submodules ${{ github.server_url }}/${{ github.repository }}.git repo

        cd repo/fedora-coreos-config
        cp ../*.repo .
        cp ../*.yaml .
        git apply ../*.patch

        FEDORA_VERSION=$(cat build-args.conf | grep BASE_VERSION= | sed 's/^BASE_VERSION=//')
        echo "FEDORA_VERSION=$FEDORA_VERSION" | sudo tee -a "$GITHUB_ENV"
        echo "BUILD_TAG=${FEDORA_VERSION}.$(date -u +'%Y%m%d.%H')" | sudo tee -a "$GITHUB_ENV"

        mkdir -p overlay.d/40custom/etc/pki/ca-trust/source/anchors
        echo -e "$INTERNAL_CA_CERT" > overlay.d/40custom/etc/pki/ca-trust/source/anchors/ca-cert.pem

    # Perl is blocked by upstream. Build keepalived without perl dependency.
    - name: Build keepalived package
      run: |
        cd $HOME
        sudo dnf install -y --setopt=install_weak_deps=False \
          rpmdevtools \
          dnf-plugins-core \
          libnftnl-devel \
          unzip

        mkdir -p rpmbuild/
        cd rpmbuild
        git clone --depth 1 -b f$FEDORA_VERSION https://src.fedoraproject.org/rpms/keepalived.git SOURCES/
        cd SOURCES
        spectool -gR keepalived.spec
        sudo dnf builddep -y keepalived.spec
        rpmbuild -bb keepalived.spec \
          --without snmp \
          --with nftables \
          --without debug

    # COSA will remove anything existing in the build path. Run in dedicated $HOME/workspace path.
    - name: Run init
      run: |
        mkdir -p $HOME/workspace
        cd $HOME/workspace

        cosa init --force $HOME/repo/fedora-coreos-config
        mkdir -p overrides/rpm
        cp -r $HOME/rpmbuild/RPMS/$(arch)/. overrides/rpm/

    - name: Run build
      run: |
        cd $HOME/workspace
        cosa build --version=$BUILD_TAG

    - name: Run buildextend-live
      run: |
        cd $HOME/workspace
        cosa buildextend-live

    - name: Push image
      run: |
        cd $HOME
        ./mc cp -r -q --no-color \
          workspace/builds/latest/$(arch)/fedora-*-live* arc/boot/

    # TODO: support multiple archs
    - name: Create tag
      run: |
        cd $HOME/repo
        git config --global user.email "${{ github.actor }}@users.noreply.github.com"
        git config --global user.name "${{ github.actor }}"
        git tag -a $BUILD_TAG -m "Build $BUILD_TAG"
        git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}
        git push origin $BUILD_TAG

    # TODO: support multiple archs
    - name: Remove old images
      run: |
        cd $HOME
        tags=$(./mc ls --json --no-color arc/boot/fedora-coreos- | jq -r '.key' | sed -r 's/fedora-coreos-(.*)-live-.*$/\1/' | sort -u | head -n -$TAGS_KEEP)
        for tag in $tags; do
          ./mc rm -r -q --no-color --force arc/boot/fedora-coreos-$tag
        done